body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

header {
    background: #f2d0d8;
    color: white;
    padding: 20px 0;
}

header .container {
    width: 95%;
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px;
  font-size: 24px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}